DATABASE_TYPE='postgres'
DATABASE_HOST='localhost'
DATABASE_PORT=5432
DATABASE_USERNAME='postgres'
DATABASE_DATABASE='postgres'
DATABASE_PASSWORD='ADD DATABASE PASSWORD HERE'
DATABASE_AUTOLOADENTITIES=1
DATABASE_SYNCHRONIZE=0

JWT_SECRET=PUT-YOUR-JWT-SECRET-HERE
JWT_TOKEN_AUDIENCE=http://localhost:3000
JWT_TOKEN_ISSUER=http://localhost:3000
JWT_TTL=3600
JWT_REFRESH_TTL=86400

APP_PORT=3000
NODE_ENV='development'
